Project1/Flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Directed_To</name>
        <label>Directed To</label>
        <locationX>842</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>createNewMail.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkContactos.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mail_type_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddressExist</name>
        <label>AddressExist</label>
        <locationX>1291</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Mail_type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddressPersonExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkContactos.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Related</targetReference>
            </connector>
            <label>Address Already in System</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Mail_Again</name>
        <label>new Mail Again</label>
        <locationX>505</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Bye_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_MailAgain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Screen</targetReference>
            </connector>
            <label>New Mail? Again</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeliveryTypePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mail_Type__c</picklistField>
        <picklistObject>Mail__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>create mail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send new mail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Mail</name>
        <label>New Mail</label>
        <locationX>221</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>createNewMail</inputReference>
    </recordCreates>
    <recordLookups>
        <name>checkContactos</name>
        <label>checkContactos</label>
        <locationX>1437</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddressExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkContactos.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkContactos.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkContactos.MailingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingState</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkContactos.MailingState</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Address_Related</name>
        <label>Address Related</label>
        <locationX>1145</locationX>
        <locationY>808</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Directed_To</targetReference>
        </connector>
        <fields>
            <name>Awesome</name>
            <fieldText>&lt;p&gt;Awesome we found a Account related!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bye_Screen</name>
        <label>Bye Screen</label>
        <locationX>170</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Bye</name>
            <fieldText>&lt;p&gt;Bye&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WannaSend</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;Congratulations Mail send&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1694</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>874</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Second_Screen</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;Welcome! Use me if you want to create a new mail&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mail_type_Screen</name>
        <label>Mail type Screen</label>
        <locationX>870</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Picklist_Screen</targetReference>
        </connector>
        <fields>
            <name>ChooseMail</name>
            <fieldText>&lt;p&gt;Lets Choose a mail type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Picklist_Screen</name>
        <label>Picklist Screen</label>
        <locationX>670</locationX>
        <locationY>589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Mail</targetReference>
        </connector>
        <fields>
            <name>MailMessage</name>
            <fieldText>&lt;p&gt;Lets choose a mail type to proceed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mail_Type_Picklist</name>
            <choiceReferences>DeliveryTypePick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mail Type Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Second_Screen</name>
        <label>Second Screen</label>
        <locationX>1116</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkContactos</targetReference>
        </connector>
        <fields>
            <name>nameRelated</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>checkContactos.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>checkContactos.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>addressRelatedTo</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>checkContactos.MailingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>checkContactos.MailingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>checkContactos.MailingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WannaSend</name>
        <label>WannaSend</label>
        <locationX>160</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>new_Mail_Again</targetReference>
        </connector>
        <fields>
            <name>oneMore</name>
            <fieldText>&lt;p&gt;Want to send another mail?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New</name>
            <dataType>Boolean</dataType>
            <fieldText>New</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>498</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>createNewMail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mail__c</objectType>
    </variables>
</Flow>
