Project1/force-app/main/default/flows/Create_new_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>New_Account_information</name>
        <label>New Account information</label>
        <locationX>810</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>Contactinsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactinsert.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactinsert.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactinsert.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactinsert.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactinsert.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactinsert.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Already_in_System</name>
        <label>Contact Already in System?</label>
        <locationX>89</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Contact_information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact does not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_in_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Exists</targetReference>
            </connector>
            <label>Contact in System</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_Make_an_Account</name>
        <label>Want to Make an Account ?</label>
        <locationX>704</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Contact_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only wants to make contact</defaultConnectorLabel>
        <rules>
            <name>Making_an_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_information</targetReference>
            </connector>
            <label>Making an Account</label>
        </rules>
    </decisions>
    <interviewLabel>Create new Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_account</name>
        <label>New account</label>
        <locationX>816</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Account_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>NewAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_contact</name>
        <label>New contact</label>
        <locationX>509</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Want_to_Make_an_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Contactinsert</inputReference>
    </recordCreates>
    <recordLookups>
        <description>double checking to see if this contact is already in the system.</description>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>200</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Already_in_System</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contactinsert.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contactinsert.LastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactCheck</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_Created</name>
        <label>Account Created</label>
        <locationX>935</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>New</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Contactinsert.FirstName} your Account has been created.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Created</name>
        <label>Contact Created</label>
        <locationX>1081</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Contact_complete</name>
            <fieldText>&lt;p&gt;Congratulations! {!Contactinsert.FirstName} your Contact has been created.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Exists</name>
        <label>Contact Exists</label>
        <locationX>50</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Name</targetReference>
        </connector>
        <fields>
            <name>Contact_Exist</name>
            <fieldText>&lt;p&gt;Your Contact is already in our database!  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_information</name>
        <label>Contact information</label>
        <locationX>347</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_contact</targetReference>
        </connector>
        <fields>
            <name>Home</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Name</name>
        <label>Contact Name</label>
        <locationX>107</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Check</targetReference>
        </connector>
        <fields>
            <name>Fullname</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contactinsert.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Contactinsert.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contactinsert.HomePhone</assignToReference>
                <name>required</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen.</label>
        <locationX>454</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>265</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>guidance for a new user for them to make a contact and related account as well if they choose to</description>
        <name>Contactinsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
